
/*WHOLE CONTAINER */
.infoContainer {
    /*
    border: 1px solid #666;
    */
    display:flex;
    margin-bottom: 5rem;
    align-items: center;
    /*
    width: 90%;
    */  


}

.infoContainer {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
@keyframes infoContainer {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes infoContainer {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes infoContainer {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes infoContainer {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes infoContainer {
    0% {opacity:0;}
    100% {opacity:1;}
  }

/*INFO*/
.wordContainer {
    /*
    border: 1px solid #666;
    */
    flex: 1;
    align-items: left;
   
    
    
}

.infoTitle {
    align-items: left;
    text-align: left;
    padding-right: 20%;
    padding-left: 20%;
    
    font-size: 2rem;
}

.infoParagraph {
    align-items: left;
    padding-right: 20%;
    padding-left: 20%;
    text-align: left;
    color: rgb(136, 136, 136);

}

/*LOGOS*/


.logo { 
    height: 8rem;
    width: 8rem;
    border:1px solid lightgray;
    margin-top: 1rem;
    margin-left:0.4rem;
    margin-right: 0.2rem;
}

.logoContainer {
    flex: 1;
    
    
    transition: all 1s 0s ease;
    opacity: 1;
}

@keyframes logoContainer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  



/**/
@media only screen and (max-width: 1200px) {

}

/**/
@media only screen and (max-width: 950px) {
    .logoContainer {
        /*
        border: 1px solid #666;
        */
        flex: 1;
    }
    
    .logo { 
        height: 6rem;
        width: 6rem;
        border:1px solid rgb(184, 184, 184);
       
        margin-left:0.4rem;
        margin-right: 0.2rem;
    }
}

/**/
@media only screen and (max-width: 810px) {
/*WHOLE CONTAINER */
    .infoContainer {
         /*
        border: 1px solid #666;
        */
        
        display:flex;
        flex-direction: column;
        margin-bottom: 5rem;
        align-items: center;

    }

    /*INFO*/
    .wordContainer {
         /*
        border: 1px solid #666;
        */
        flex: 1;
        align-items: left;
    }

    .infoTitle {
        align-items: left;
    }

    .infoParagraph {
        align-items: left;
    }

    /*LOGOS*/
    .logoContainer {
         /*
        border: 1px solid #666;
        */
        margin-top: .5rem;
        flex: 1;
    }

    .logo { 
        height: 7rem;
        width: 7rem;
        border:1px solid lightgray;
        margin-top: 1rem;
        margin-left:0.4rem;
        margin-right: 0.2rem;
    }
}
/**/
@media only screen and (max-width: 740px) {

}
/**/
@media only screen and (max-width: 550px) {

}

/**/
@media only screen and (max-width: 400px) {

}

/**/
@media only screen and (max-width: 390px) {
    .logo { 
        height: 4.5rem;
        width: 4.5rem;
        border:1px solid lightgray;
        margin-top: 1rem;
        margin-left:0.4rem;
        margin-right: 0.2rem;
    }
}